@mixin transition($type: all) {
  -webkit-transition: $type 500ms ease;
  -moz-transition: $type 500ms ease;
  -o-transition: $type 500ms ease;
  transition: $type 500ms ease;
}

@mixin shadow($opacity: 0.15) {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, $opacity);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, $opacity);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, $opacity);
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    height: 100%;
    width: 100%;
  }
}

@mixin img-cover() {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@mixin button-accordion() {
  background-color: var(--color-custom-lightest);
  padding-right: $spacer;
  width: 100%;
  .h2,
  .h3 {
    font-size: $size-normal;
    text-align: left;
    margin-bottom: 0;
    position: relative;
    line-height: $line-height;
    padding: $spacer;
    padding-left: $spacer * 3;
    font-family: $font-main-regular;

    &:before {
      content: ">";

      width: $spacer * 2;
      height: $spacer * 2;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      position: absolute;
      left: $spacer/2;
      top: 50%;
      margin-top: -$spacer;
      color: var(--color-custom-original);
      background-color: $color-white;
      @include transition(transform);
    }
  }

  &.collapsed {
    background-color: $color-white;

    .h2,
    .h3 {
      &:before {
        transform: rotate(0);
        background-color: var(--color-custom-lightest);
      }
    }
  }
}
