// FONTS SIZE
$size-xsmall: 0.8rem;
$size-small: 0.9rem;
$size-normal: 1rem;
$size-medium: 1.1rem;
$size-large: 1.5rem;
$size-big: 3rem;
$size-huge: 5rem;

// LINE-HEIGHT
$line-height: 1.4em;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$custom-background: rgb(41, 37, 46);
